# Ignore bin, obj, and properties folders
bin/
obj/
properties/

# Ignore NuGet Packages
*.nupkg

# Ignore common Mac files
.DS_Store
.AppleDouble
.LSOverride
.vs/podcast-console-app/FileContentIndex/fad617f6-a49c-4fc7-b81c-606a5651b9eb.vsidx
.vs/podcast-console-app/v17/.suo
