.vs/podcast-console-app/v17/.suo
.vs/podcast-console-app/FileContentIndex/*

# Ignore bin, obj, and properties folders
bin/
obj/
properties/

# Ignore NuGet Packages
*.nupkg

# Ignore common Mac files
.DS_Store
.AppleDouble
.LSOverride
